.tutorial-popup {
    position: absolute;
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 5px;    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    width:300px;
    height: auto;
    z-index: 1000;
    font-size: 14px;
}
 
.tutorial-popup.top {
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}
 
.tutorial-popup.bottom {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}
 
.tutorial-popup.left {
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}
 
.tutorial-popup.right {
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
}
 
/* Close Button Styling */
button {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}
 
/* Previous/Next Button Styling */
button.prev,
button.next {
    background-color: navy;
    margin-right: 20px;
}
 
 
button.next {
    background-color: green;
}