#headerDiv {
  position: fixed;
  top: 0;
  left: 10px;
  width: 100%;
  height: auto;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  .toolBarDiv {
    display: flex;
    justify-content: space-between;

    .headerIcons {
      display: flex;
      gap: 20px;

      > svg {
        cursor: pointer;
      }
    }
  }

  /* Stronger selector for the header */
  header {
    background-color: #428ed9 !important; /* Force the background color to #2ca5da */
    margin-left: -10px;
  }
}

#headerImage {
  position: absolute;
  left: 10px;
  width: 110px;
  height: auto;
  margin-left: 30px;
}

#forecast_header {
  margin-right: 850px;
}
